:root {
  /* Colors */
  --purble: #666ca3;
  --dark-blue: #13183f;
  --dark-grey: #83869a;
  --dark-pink: #f74780;
  --medium-pink: #ffa7c3;
  --white: #fff;
  --bgc: #f1f2fc;

  /* Gradients */
  --gradient-orange-pink: linear-gradient(#f02aa6, #ff6f48);
  --gradient-blue-pink: linear-gradient(#4851ff, #f02aa6);

  /* Typography */
  --heading-xl: 5.6rem;
  --heading-l: 4rem;
  --heading-m: 3.2rem;
  --heading-s: 2.4rem;
  --body-m: 1.8rem;
  --body-s: 1.6rem;

  /* Fonts */
  --ff: 'Plus Jakarta Sans', sans-serif;

  /* Line Height*/
  --heading-line-height-m: 4rem;
  --body-line-height-m: 2.8rem;
  --body-line-height-s: 2.8rem;

  /* Font Weight */
  --fw-500: 500;
  --fw-800: 800;
}

html {
  font-size: 10px;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}
a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

/* Buttons */
.btn {
  width: 14rem;
  height: 4.8rem;
  color: white;
  font-size: 1.6rem;
  border-radius: 3rem;
  transition: 0.2s ease;
  cursor: pointer;
  font-family: var(--ff);
  font-weight: var(--fw-500);
}
.btn:hover {
  opacity: 60%;
}

.btn-dark-blue {
  background-color: var(--dark-blue);
}
.btn-orange-pink {
  background-image: var(--gradient-orange-pink);
}
.btn-blue-pink {
  background-image: var(--gradient-blue-pink);
}
.btn-text {
  color: var(--dark-pink);
  font-size: 1.6rem;
  transition: 0.2s ease;
  cursor: pointer;
  font-family: var(--ff);
  font-weight: var(--fw-800);
  background-color: transparent;
}
.btn-text:hover {
  opacity: 60%;
}

/* Helpers */

.container {
  max-width: 1111px;
  margin-inline: auto;
  padding-inline: 1.2rem;
}

body {
  font-family: var(--ff);
  font-weight: var(--fw-500);
  background-color: var(--white);
  font-size: 1.6rem;
  height: 1500px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 0;
}

.logo {
  display: block;
}
.logo > img {
  display: block;
}

.h1 {
  margin: 0;
  font-weight: var(--fw-800);
  font-size: var(--heading-l);
  padding-block: 3.4rem;
}

.sub-heading {
  font-size: var(--body-s);
  color: var(--dark-grey);
  line-height: var(--body-line-height-s);
  padding-bottom: 1.1rem;
}
.header > .container > .box-1 .btn {
  margin-block: 1.5rem;
}

.box-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37.8rem;
  overflow: hidden;
  background-image: url(../assets/image-hero-mobile.webp);
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
}

.courses-section {
  background-color: var(--bgc);
  padding-bottom: 7.9rem;
}

.courses-section > .container {
  row-gap: 5rem;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.course {
  position: relative;
  padding: 6.2rem 2.8rem 3.9rem;
  border-radius: 0.8rem;
  transition: all 0.2s ease;
  background-color: var(--white);
}
.course:hover {
  box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.1);
}

.course1 {
  background-image: var(--gradient-orange-pink);
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--fw-800);
  color: var(--white);
  font-size: var(--heading-s);
  padding: 3.1rem 2.8rem;
  margin-bottom: 29.6px;
}

.course::before {
  width: 5.6rem;
  height: 5.92rem;
  position: absolute;
  top: -29.6px;
}

.course h3 {
  font-weight: var(--fw-800);
  font-size: 2rem;
  margin-bottom: 2.7rem;
}
.course p {
  color: var(--dark-grey);
  font-weight: var(--fw-500);
  line-height: 2.6rem;
  font-size: 1.6rem;
  margin-bottom: 3.4rem;
}

.course2::before {
  content: url(../assets/icon-animation.svg);
}
.course3::before {
  content: url(../assets/icon-design.svg);
}
.course4::before {
  content: url(../assets/icon-photography.svg);
}
.course5::before {
  content: url(../assets/icon-crypto.svg);
}
.course6::before {
  content: url(../assets/icon-business.svg);
}

.footer {
  background-color: var(--dark-blue);
}

.footer > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 3.6rem;
}

@media screen and (min-width: 768px) {
  .container {
    padding-inline: 3.9rem;
  }
  .section-navigation {
    background: transparent;
  }
  .header > .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .h1 {
    margin: 0;
    font-weight: var(--fw-800);
    font-size: var(--heading-l);
    padding-block: 3.4rem;
  }
  .box-2 {
    background-image: url(../assets/image-hero-desktop.webp);
    background-size: 540px;
    background-position: 0px -150px;
  }
  .courses-section > .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem 1rem;
  }
  .course1 {
    height: 100%;
    align-items: start;
    padding-top: 6rem;
  }
}
